<!-- <div class="board-container"> -->
<!-- 상단 영역 -->
<section class="board-header">
  <div class="board-title">
    <h2>안녕하세요,</h2>
    <p>아무 말 대잔치 게시판입니다.</p>
  </div>
  <div class="board-write-btn">
    <button id="writeBtn" class="btn-write">게시글 작성</button>
  </div>
</section>

<!-- 게시물 리스트 -->
<ul id="postList" class="post-list">
  <li class="post-item">
    <p class="post-title">제목 1</p>
    <div class="post-meta">
      <div class="post-counts">
        <span>좋아요 0</span>
        <span>댓글 0</span>
        <span>조회수 0</span>
      </div>
      <span class="post-date">2025-01-01 00:00:00</span>
    </div>
    <div class="post-author">
      <img
        src="../assets/profile-default.png"
        alt="작성자"
        class="author-img"
      />
      <span class="nickname">더미 작성자</span>
    </div>
  </li>
  <li class="post-item">
    <p class="post-title">제목 1</p>
    <div class="post-meta">
      <div class="post-counts">
        <span>좋아요 0</span>
        <span>댓글 0</span>
        <span>조회수 0</span>
      </div>
      <span class="post-date">2025-01-01 00:00:00</span>
    </div>
    <div class="post-author">
      <img
        src="../assets/profile-default.png"
        alt="작성자"
        class="author-img"
      />
      <span class="nickname">더미 작성자</span>
    </div>
  </li>
  <li class="post-item">
    <p class="post-title">제목 1</p>
    <div class="post-meta">
      <div class="post-counts">
        <span>좋아요 0</span>
        <span>댓글 0</span>
        <span>조회수 0</span>
      </div>
      <span class="post-date">2025-01-01 00:00:00</span>
    </div>
    <div class="post-author">
      <img
        src="../assets/profile-default.png"
        alt="작성자"
        class="author-img"
      />
      <span class="nickname">더미 작성자</span>
    </div>
  </li>
</ul>

<p id="loadingMsg" hidden>로딩 중...</p>
<!-- </div> -->
